body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
}

.messages {
    color: red;
}

.dropdown {
    margin: 20px;
}

.dropdown-menu {
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.user_dropdown {
    display: flex;
    justify-content: center;
}

#searchField {
    margin: 0 6px 6px 6px;
    width: 95%;
}

.no-padding {
    padding: 0;
}

.pad-lt-4 {
    padding-left: 4px;
}

.pad-rt-4 {
    padding-right: 4px;
}

.error_text {
    font-size: 11px;
    color: #e6b800;
    line-height: 15px;
    padding-top: 5px;
    padding-left: 23px;
    display: inline-block;
}

.warning {
    color: #a00;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.form-label-group {
    margin-bottom: 16px;
}

.triangle {
    width: 100px;
    height: 50px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
}

.triangle:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #999;
    transform: rotate(45deg);
    top: 25px;
    left: 25px;
    box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}

.reject_btn a {
    font-size: 12px;
    line-height: 16px;
    color: #808080;
}

.reject_btn a:hover {
    color: #e6b800;
    text-decoration: none;
}

.involved_selection {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.involved_selection .form-group {
    margin-right: 20px;
}

.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.file-upload .file-select {
    display: block;
    border: 1px solid #cccccc;
    color: #333333;
    cursor: pointer;
    height: 56px;
    line-height: 56px;
    text-align: left;
    background: #ffffff;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    margin-bottom: 16px;
}

.file-upload .file-select .file-select-button {
    background: #cccccc;
    padding: 0 23px;
    display: inline-block;
    height: 56px;
    line-height: 56px;
}

.file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.file-upload .file-select:hover {
    box-shadow: 0 0 4px 0 rgba(5, 148, 255, 0.3);
    border-color: #e6b800;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
    background: #cccccc;
    color: #333333;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.file-upload.active .file-select {
    box-shadow: 0 0 4px 0 rgba(5, 148, 255, 0.3);
    border-color: #e6b800;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
    background: linear-gradient(to bottom, #cca300 0%, #e6b800 100%);
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select input[type="file"] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
    opacity: 0.65;
}

.modal-backdrop {
    background-color: #222;
    opacity: 0.9;
}

.modal-backdrop.show {
    opacity: 0.9;
    filter: alpha(opacity=100);
}

.modal-content {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box;
}

.modal.show .modal-dialog,
.modal-content {
    position: static !important;
}

.modal-content {
    padding: 38px 0;
}

.modal-content .modal_para h3 {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}


/* .modal-content .group_btns {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center
}

.modal-content .group_btns button {
    margin-right: 8px
} */

.modal-content .button {
    width: 100px !important;
}

.modal button.close {
    top: 10px;
    right: 48px;
    bottom: auto;
    left: auto;
    position: absolute;
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
    font-size: 32px;
    line-height: 35px;
}

.modal button.close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.modal .infotext {
    padding: 10px;
    text-align: center;
    width: 90%;
}

#update .form-label-group,
#applicationModal .form-label-group,
#add_loanuser_modal .form-label-group {
    margin: 36px 40px 40px 40px;
}

#update .update_btn,
#applicationModal .update_btn,
#add_loanuser_modal .update_btn {
    text-align: center;
}

#update textarea,
#applicationModal textarea {
    min-height: 80px;
    resize: none;
    padding-top: 30px;
}

.nav-tabs {
    display: none;
}

@media (min-width: 768px) {
    .nav-tabs {
        display: flex;
    }
    .card {
        border: none;
    }
    .card .card-header {
        display: none;
    }
    .card .collapse {
        display: block;
    }
}

@media (max-width: 767px) {
    .tab-content>.tab-pane {
        display: block !important;
        opacity: 1;
    }
}

.nicescroll-box {
    height: auto;
}

.nicescroll-cursors {
    border: 1px solid #cca300 !important;
    background-color: #cca300 !important;
}

.cbtn,
.dbtn,
.primary_btn,
.disable_btn,
.ghost_btn,
.gdisable_btn {
    font-size: 12px;
    -webkit-border-radius: 27.5px;
    border-radius: 27.5px;
    background-clip: padding-box;
    font-weight: 600;
    line-height: 16px;
    padding: 20px 75px;
    text-transform: uppercase;
    outline: none;
}

@media only screen and (max-width: 1199px) {
    .cbtn,
    .dbtn,
    .primary_btn,
    .disable_btn,
    .ghost_btn,
    .gdisable_btn {
        padding: 15px 50px;
    }
}

@media only screen and (max-width: 991px) {
    .cbtn,
    .dbtn,
    .primary_btn,
    .disable_btn,
    .ghost_btn,
    .gdisable_btn {
        padding: 12px 40px;
    }
}

.dbtn,
.primary_btn,
.disable_btn {
    border: none;
    color: #fff;
    background: #cca300;
    background: -moz-linear-gradient(top, #cca300 0%, #e6b800 100%);
    background: -webkit-linear-gradient(top, #cca300 0%, #e6b800 100%);
    background: linear-gradient(to bottom, #cca300 0%, #e6b800 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#cca300', endColorstr='#e6b800', GradientType=0);
}

.primary_btn:hover {
    background: #e6b800;
    box-shadow: 0 2px 4px 0 rgba(0, 116, 203, 0.36);
    cursor: pointer;
}

.primary_btn:focus {
    background: #e6b800;
    outline: none;
}

.disable_btn {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.disable_btn:focus {
    outline: none;
}

.ghost_btn {
    border: 2px solid #f60;
    background: transparent;
}

.ghost_btn:hover {
    border: 2px solid #ffcc00;
    cursor: pointer;
}

.ghost_btn:focus {
    border: 2px solid #ffcc00;
    outline: none;
}

.gdisable_btn {
    border: 2px solid #f60;
    background: transparent;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.gdisable_btn:focus {
    outline: none;
}

header {
    min-height: 72px;
}

header nav {
    box-shadow: 0 4px 16px 0 rgba(43, 102, 146, 0.09);
    height: 72px;
    margin: 0 -15px;
}

header nav .header_logo {
    flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    max-width: 25%;
    min-width: 25%;
    padding-left: 25px;
    position: relative;
    height: 72px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

header nav .header_logo:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 72px;
    top: 0;
    right: 0;
    background: #cccccc;
}

@media only screen and (max-width: 576px) {
    .header_network {
        display: none;
    }
}

@media only screen and (max-width: 1199px) {
    header nav .header_logo .navbar-brand img {
        max-width: 215px;
    }
}

@media only screen and (max-width: 991px) {
    header nav .header_logo .navbar-brand img {
        max-width: 154px;
    }
}

header nav .header_content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    height: 72px;
}

header nav .header_content .header_heading {
    padding-left: 43px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

header nav .header_content .header_heading h2 {
    margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
    header nav .header_content .header_heading h2 {
        font-size: 18px;
    }
}

header nav .header_content .header_heading h2 a {
    color: #332900;
    text-decoration: none;
}

header nav .header_content .header_heading h4 {
    line-height: 32px;
    padding-left: 20px;
    margin: 0;
}

header nav .header_content .header_heading h4 a {
    text-decoration: none;
}

header nav .header_content .header_logout {
    padding-left: 38px;
    padding-right: 48px;
    position: relative;
    height: 72px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

header nav .header_content .header_logout a {
    color: #f60;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    line-height: 22px;
}

header nav .header_content .header_logout a:hover {
    color: #808080;
}

header nav .header_content .header_logout:before {
    content: "";
    width: 1px;
    height: 72px;
    background: #cccccc;
    top: 0px;
    right: auto;
    bottom: auto;
    left: 0px;
    position: absolute;
}

header nav .header_content .header_mid {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

header nav .header_content .header_mid .user_profile {
    padding-right: 38px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

header nav .header_content .header_mid .user_profile:hover {
    cursor: pointer;
}

header nav .header_content .header_mid .user_profile .user {
    width: 22px;
    height: 22px;
    display: inline-block;
    background: url(../images/profile.png);
    background-size: cover;
    margin-right: 9px;
}

header nav .header_content .header_mid .user_profile .user_text {
    color: #f60;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    line-height: 22px;
}

.user_profile.dropdown-toggle:after {
    display: none;
}

.user_profile.dropdown-toggle+.dropdown-menu {
    top: 24px !important;
    left: -16px !important;
    margin-left: -200px;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    font-family: "Nunito Sans", sans-serif;
}

h3 {
    font-size: 19px;
    font-weight: 700;
    line-height: 26px;
    font-family: "Nunito Sans", sans-serif;
}

h4 {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

input.form-control,
textarea.form-control {
    height: 56px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    padding: 18px 23px 18px 23px;
    color: #332900;
    font-size: 14px;
    line-height: 19px;
}

input.form-control:hover,
input.form-control:focus,
textarea.form-control:hover,
textarea.form-control:focus {
    border: 1px solid #e6b800;
    box-shadow: 0 0 4px 0 rgba(5, 148, 255, 0.3);
}

input.form-control.error,
textarea.form-control.error {
    border: 1px solid #e6b800;
    box-shadow: 0 0 4px 0 rgba(255, 55, 55, 0.3);
}

input.form-control+label,
textarea.form-control+label {
    font-size: 14px;
    pointer-events: none;
}

input.form-control+label span,
textarea.form-control+label span {
    color: #e6b800;
}

.euro {
    top: 20px;
    right: 23px;
    bottom: auto;
    left: auto;
    position: absolute;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #808080;
}

.float-lab {
    position: relative;
    /* Inserted from input_float_lbl to avoid displaying issues */
    -moz-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
    font-size: 11px;
}

.float-lab label {
    top: 20px;
    right: auto;
    bottom: auto;
    left: 23px;
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #808080;
}

.float-lab.input_float_lbl label {
    -moz-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
    font-size: 11px;
}

.float-lab.input_float_lbl input,
.float-lab.input_float_lbl textarea {
    padding-top: 34px;
}

.customDropdown {
    position: relative;
    cursor: pointer;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    align-items: center;
    border-radius: 4px;
    padding-left: 23px;
    padding-top: 23px;
    height: 56px;
}

.customDropdown:focus {
    border: 1px solid #e6b800;
    box-shadow: 0 0 4px 0 rgba(5, 148, 255, 0.3);
}

.customDropdown.error {
    border: 1px solid #e6b800;
    box-shadow: 0 0 4px 0 rgba(255, 55, 55, 0.3);
}

.customDropdown span {
    display: block;
    line-height: 12px;
}

span.valueHolder {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #808080;
    font-size: 14px;
}

span.valueHolder.float-label {
    -moz-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
    font-size: 11px;
}

span.valueHolder1 {
    color: #332900;
    font-size: 14px;
    margin-top: -6px;
}

.dropContainer {
    position: absolute;
    top: 55px;
    left: -1px;
    overflow-y: auto;
    height: auto;
    width: 100.5%;
    background-color: #fff;
    display: none;
    text-align: left;
    z-index: 1;
}

.dropOption {
    height: 56px;
    border: 1px solid #cccccc;
    border-top: none;
    padding-top: 18px;
    padding-left: 23px;
    font-size: 14px;
    color: #e6b800;
}

.dropOption:hover {
    background: rgba(222, 232, 242, 0.5);
    color: #332900;
}

.dropOption:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.customDropdown.select_border {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.customDropdown:before {
    content: "";
    border: solid #e6b800;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    right: 20px;
    pointer-events: none;
    transition: all 0.5s ease;
}

.customDropdown.select_border:before {
    content: "";
    border: solid #e6b800;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    transform: rotate(226deg);
    -webkit-transform: rotate(226deg);
    right: 20px;
    pointer-events: none;
}

.signup .left-bg {
    height: 100vh;
    background-image: url(../images/signup_bg.png);
    background-size: cover;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding-left: 123px;
}

@media only screen and (max-width: 991px) {
    .signup .left-bg {
        padding-left: 45px;
    }
}

.signup .left-bg:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: -moz-linear-gradient( top, rgba(77, 77, 77, 0.79) 0%, rgba(126, 126, 126, 0.79) 100%);
    background: -webkit-linear-gradient( top, rgba(88, 88, 88, 0.79) 0%, rgba(230, 230, 230, 0.79) 100%);
    background: linear-gradient( to bottom, rgba(128, 128, 128, 0.79) 0%, rgba(39, 162, 255, 0.79) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e6b800', endColorstr='#e6b800', GradientType=0);
}

.signup .left-bg .signup-head {
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 1;
    font-size: 50px;
    font-weight: 800;
    line-height: 63px;
    max-width: 276px;
    position: relative;
}

.signup .left-bg .signup-head:before {
    content: "";
    height: 3px;
    width: 59px;
    background: #e7bd00;
    position: absolute;
    left: 0;
    bottom: -30px;
}

.signup .signup-form {
    height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

@media only screen and (max-width: 991px) {
    .signup .signup-form {
        padding-left: 15px;
    }
}

.signup .signup-form .signup-form-content {
    width: 424px;
    max-width: 424px;
}

.signup .signup-form .signup-form-content button {
    margin-top: 16px;
}

.left_pannel {
    position: relative;
    overflow: hidden;
    padding-top: 23.5px;
    background: linear-gradient(0deg, #e0b400 0%, #ac8900 100%);
}

.add_applications {
    position: relative;
    z-index: 9;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.add_applications:hover .outer {
    box-shadow: 0 1px 10px 0 rgba(185, 185, 185, 0.99);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.add_applications:hover .outer_inn {
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.add_applications .outer {
    box-shadow: 0 1px 10px 0 rgba(29, 29, 29, 0.2);
    border: 1px solid rgba(247, 247, 247, 0.2);
    width: 57px;
    height: 57px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.add_applications .outer .outer_inn {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 51px;
    height: 51px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.add_applications .outer .outer_inn span {
    width: 44px;
    height: 44px;
    box-shadow: 0 2px 20px 0 rgba(197, 197, 197, 0.8);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    background: #fff;
    text-shadow: 0 2px 8px rgba(255, 166, 18, 0.6);
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    display: inline-block;
    color: #dfb600;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.add_applications {
    padding-left: 23.5px;
    cursor: pointer;
}

.add_applications h4 {
    padding-left: 10px;
    font-weight: 600;
    margin-bottom: 0;
}

.appplication_section {
    padding-top: 18px;
    padding-bottom: 35px;
}

.appplication_section .head {
    margin: 6px 0 12px 0;
}

.appplication_section ul {
    padding-left: 0;
}

.appplication_section ul li {
    list-style: none;
    padding: 15px 23px 12px 42px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

@media only screen and (max-width: 991px) {
    .appplication_section ul li {
        padding: 15px 8px 12px 24px;
    }
}

.appplication_section ul li .lists h4 {
    margin-bottom: 0;
}

.appplication_section ul li .lists .status p {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: #fff;
    margin-bottom: 0;
    padding: 0;
}

.appplication_section ul li .lists .date {
    color: #b9dcf6;
    font-size: 12px;
}

.appplication_section ul li .status {
    position: relative;
}

.appplication_section ul li .status::before {
    content: "";
    width: 34px;
    height: 34px;
    top: -5px;
    right: auto;
    bottom: auto;
    left: -28px;
    position: absolute;
}

.appplication_section ul li.wating_for_review .status::before {
    background: url("../images/gray-point.svg");
}

.appplication_section ul li.in_review .status::before {
    background: url("../images/yellow-point.svg");
}

.appplication_section ul li.approved .status::before {
    background: url("../images/green-point.svg");
}

.appplication_section ul li.active {
    position: relative;
    background: #fff;
}

.appplication_section ul li.active:before {
    content: "";
    width: 4px;
    height: 100%;
    background: #f60;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    position: absolute;
}

.appplication_section ul li.active .lists h4 {
    color: #332900;
}

.appplication_section ul li.active .lists .status p {
    color: #332900;
}

.appplication_section ul li.active .lists .date {
    color: #808080;
}

.appplication_section ul li.active:hover {
    box-shadow: none;
    background: #fff;
}

.appplication_section ul li:hover {
    box-shadow: -2px 0 3px 0 rgba(0, 0, 0, 0.05), 0 2px 40px 0 rgba(133, 202, 255, 0.5) inset;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.head {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.4px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
    padding-left: 23.5px;
}

.token_section {
    background: #e6b800;
    padding-top: 42px;
    padding-bottom: 220px;
}

.token_section .head {
    margin-bottom: 0;
    padding-bottom: 0;
}

.token_section ul {
    padding-left: 40px;
}

.token_section ul li {
    position: relative;
    list-style: none;
    /* padding-top: 24px */
}

.token_section ul li .active_token .token_detail p {
    font-size: 14px;
    /* color: #B9DCF6; */
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.token_section ul li .active_token .token_detail p span {
    font-weight: 600;
    color: #fff;
}

@media screen and (max-width: 576px) {
    .token_section {
        padding-bottom: 20px;
    }
}


/* .token_section ul li:before {
    content: "";
    width: 4px;
    height: 20px;
    background: #f60;
    top: 30px;
    right: auto;
    bottom: auto;
    left: -40px;
    position: absolute;
    box-shadow: 0 2px 6px 0 rgba(28, 111, 172, 0.58), 2px 0 4px 0 rgba(0, 0, 0, 0.5)
} */

.effect1 {
    top: -70px;
    right: auto;
    bottom: auto;
    left: 0px;
    position: absolute;
    background: url(../images/side-effect2.svg);
    width: 200px;
    height: 169px;
    background-repeat: no-repeat;
}

.effect3 {
    top: -26px;
    right: -7px;
    bottom: 0px;
    left: auto;
    position: absolute;
    background: url(../images/side-effect3.svg);
    width: 86px;
    height: 126px;
    background-repeat: no-repeat;
}

.effect2 {
    top: auto;
    right: auto;
    bottom: 0px;
    left: 0;
    position: absolute;
    background: url(../images/side-effect1.svg);
    width: 120px;
    height: 144px;
    background-repeat: no-repeat;
}

.effect4 {
    top: auto;
    right: -10px;
    bottom: 0;
    left: auto;
    position: absolute;
    background: url(../images/side-effect5.svg);
    width: 160px;
    height: 114px;
    background-repeat: no-repeat;
}

.effect5 {
    top: auto;
    right: 0;
    bottom: 200px;
    left: auto;
    position: absolute;
    background: url(../images/side-effect4.svg);
    width: 50px;
    height: 114px;
    background-repeat: no-repeat;
}

.main_application h3 {
    text-align: center;
    padding-top: 37px;
    padding-bottom: 20px;
}

.main_application .nav-tabs {
    border-bottom: 1px solid #cccccc;
    padding-left: 30px;
    white-space: nowrap;
    display: block !important;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.main_application .nav-tabs .nav-item {
    padding: 0px 8px;
    display: inline-block;
}

@media only screen and (min-width: 1440px) {
    .main_application .nav-tabs .nav-item {
        padding: 0px 10px;
    }
}

.main_application .nav-tabs .nav-item a {
    padding-bottom: 24px;
    border: none;
    font-size: 14px;
    color: #808080;
    line-height: 22px;
    padding: 0 0 24px 0;
}

@media only screen and (min-width: 1367px) {
    .main_application .nav-tabs .nav-item a {
        font-size: 16px;
    }
}

.main_application .nav-tabs .nav-item a:before {
    content: "";
    width: 0;
    height: 4px;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: #d9d9d9;
    transition: all 0.4s ease;
}

.main_application .nav-tabs .nav-item a:hover {
    border: none;
    color: #332900;
}

.main_application .nav-tabs .nav-item a.active {
    position: relative;
    color: #332900;
}

.main_application .nav-tabs .nav-item a.active:before {
    content: "";
    width: 100%;
    height: 4px;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: #d9d9d9;
}

.main_application .tab-content {
    padding: 0;
}

.main_application .tab-content .loan_detail {
    padding: 55px 36px 39px;
    border-bottom: 1px solid #cccccc;
}

@media only screen and (max-width: 991px) {
    .main_application .tab-content .loan_detail {
        padding: 35px 20px 35px;
    }
}

.Total {
    box-shadow: 0 4px 16px 0 rgba(43, 102, 146, 0.1);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    height: 56px;
    color: #808080;
    font-size: 14px;
    line-height: 19px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    padding: 0 24px;
    margin-bottom: 16px;
}

.Total .Total_value {
    font-size: 15px;
    font-weight: 700;
    color: #332900;
}

.group_btns {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    margin-top: 32px;
}

.status_reject {
    text-align: center;
    margin-top: 18px;
}

.status_reject:before {
    content: "x";
    font-size: 16px;
    color: #e6b800;
}

.approval {
    background-color: white;
    -webkit-box-shadow: inset 0 2px 12px 0 rgba(43, 102, 146, 0.09);
    -moz-box-shadow: inset 0 2px 12px 0 rgba(43, 102, 146, 0.09);
    box-shadow: inset 0 2px 12px 0 rgba(43, 102, 146, 0.09);
}

.approval h3 {
    padding-top: 37px;
    text-align: center;
    padding-bottom: 20px;
}

.approval .approval_parent {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.approval .approval_parent .approval_check {
    padding-bottom: 23px;
    white-space: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-left: 10px;
}

.approval_check .form-group {
    display: block;
    margin-bottom: 0px;
}

.approval_check .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.approval_check .form-group label {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: #808080;
    line-height: 22px;
    margin-bottom: 0;
}

.approval_check .form-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #d9d9d9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 7px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    top: -1px;
}

.approval_check {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.approval_check .form-group {
    padding-right: 20px;
}

@media only screen and (max-width: 1199px) {
    .approval_check .form-group {
        padding-right: 0px;
    }
}

@media only screen and (max-width: 991px) {
    .approval_check .form-group {
        padding-right: 0px;
    }
}

.approval_check .form-group input:checked+label:after {
    content: "";
    display: block;
    top: 5px;
    right: auto;
    bottom: auto;
    left: 6px;
    position: absolute;
    width: 5px;
    height: 9px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.approval_check .form-group input:checked+label:before {
    content: "";
    background: #d9d9d9;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: #d9d9d9;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.right_column {
    background: url(../images/history-bg.png);
    box-shadow: 4px 0 8px 0 rgba(13, 49, 76, 0.05) inset;
}

.History_pannel {
    /* box-shadow: 4px 0 0px 0 rgba(13, 49, 76, 0.05) inset; */
    padding-bottom: 112px;
    position: relative;
}

.History_pannel:before {
    content: "";
    position: absolute;
    background: url(../images/history-bg.png);
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.History_pannel h3 {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 20px;
}

.History_pannel ul {
    padding-left: 64px;
    padding-right: 48px;
    position: relative;
}

@media only screen and (max-width: 1199px) {
    .History_pannel ul {
        padding-left: 36px;
        padding-right: 22px;
    }
}

.History_pannel ul li {
    list-style: none;
    box-shadow: 0 8px 24px 0 rgba(43, 102, 146, 0.1);
    border: 1px solid #e7eaf1;
    margin-bottom: 16px;
    padding: 18px 16px 18px 24px;
    position: relative;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    background: #fff;
}

.History_pannel ul li:before {
    content: "";
    top: 21px;
    right: auto;
    bottom: auto;
    left: -7px;
    position: absolute;
    width: 12px;
    height: 12px;
    background: url(../images/left-arrow.png);
    background-repeat: no-repeat;
}

.History_pannel ul li:last-child .histroy_detail:before {
    content: "";
    width: 1px;
    height: 100%;
    top: 32px;
    right: auto;
    bottom: auto;
    left: -17px;
    position: absolute;
    background: url(../images/history-bg.png);
}

.History_pannel ul li:after {
    content: "";
    height: 11px;
    width: 11px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    border: 1px solid #e6e6e6;
    top: 22px;
    right: auto;
    bottom: auto;
    left: -22px;
    position: absolute;
    background: #fff;
}

.History_pannel ul li .histroy_detail .banks {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #332900;
    margin-bottom: 0;
}

.History_pannel ul li .histroy_detail .status {
    margin-top: 13px;
}

.History_pannel ul li .histroy_detail .status .status_point {
    color: #332900;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.History_pannel ul li .histroy_detail .banks_application {
    line-height: 19px;
    font-weight: 700;
    color: #332900;
    margin-bottom: 0;
}

.History_pannel ul li .histroy_detail .change_loan {
    margin: 0 -16px 0 -24px;
    box-shadow: 0 -2px 4px 0 rgba(13, 49, 76, 0.05) inset;
    margin-top: 10px;
}

.History_pannel ul li .histroy_detail .change_loan .change-amt-head {
    margin-bottom: 0;
    position: relative;
    color: #808080;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding-left: 24px;
    overflow: hidden;
}

.History_pannel ul li .histroy_detail .change_loan .change-amt-head:before {
    content: "";
    background: #cccccc;
    width: 100%;
    top: 8px;
    right: auto;
    bottom: auto;
    left: 151px;
    position: absolute;
    height: 1px;
}

.History_pannel ul li .histroy_detail .change_loan .change-amt-head:after {
    content: "";
    background: #cccccc;
    width: 16px;
    height: 1px;
    top: 8px;
    right: auto;
    bottom: auto;
    left: 0px;
    position: absolute;
}

.History_pannel ul li .histroy_detail .change_loan .change_amount {
    padding: 11px 24px 19px 24px;
}

.History_pannel ul li .histroy_detail .change_loan .change_amount p {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    color: #332900;
    margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
    .History_pannel ul li .histroy_detail .change_loan .change_amount p {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.History_pannel ul li .histroy_detail .change_loan .change_amount p .changed_date {
    color: #808080;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding-left: 10px;
    padding-right: 20px;
    position: relative;
}

@media only screen and (max-width: 1024px) {
    .History_pannel ul li .histroy_detail .change_loan .change_amount p .changed_date {
        width: 98px;
        margin: 6px 0;
        padding-left: 0;
    }
}

.History_pannel ul li .histroy_detail .change_loan .change_amount p .changed_date:before {
    content: "";
    border: solid rgb(116, 116, 116);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.5px;
    top: 5px;
    right: 12px;
    bottom: auto;
    left: auto;
    position: absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(-46deg);
    pointer-events: none;
}

.History_pannel ul li .histroy_detail .top_section .date {
    font-size: 14px;
    color: #808080;
    margin-bottom: 13px;
}

.History_pannel ul li .histroy_detail .top_section .date span {
    font-size: 12px;
    padding-left: 10px;
}

.History_pannel ul li .comments_feild {
    border: 1px solid #cccccc;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    position: relative;
    border-bottom-left-radius: 0;
    margin-top: 8px;
    padding: 12px 16px 0;
    margin-bottom: 8px;
}

.History_pannel ul li .comments_feild p {
    margin-bottom: 12px;
    word-break: break-all;
}

.History_pannel ul li .comments_feild:before {
    content: "";
    width: 15px;
    height: 8px;
    background: url("../images/cmt-arrow.png");
    top: auto;
    right: auto;
    bottom: -8px;
    left: -1px;
    position: absolute;
    background-repeat: no-repeat;
}

.History_pannel ul li .comment_section {
    position: relative;
    padding-left: 26px;
}

.History_pannel ul li .comment_section p {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
}

.History_pannel ul li .comment_section p .cmt_from {
    color: #d8d8d8;
    font-size: 9px;
    line-height: 12px;
    font-weight: 600;
}

.History_pannel ul li .comment_section p .comment_by {
    color: #332900;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}

.History_pannel ul li .comment_section:before {
    content: "";
    width: 22px;
    height: 20px;
    background: url(../images/comment--arrow.png);
    top: 5px;
    right: auto;
    bottom: auto;
    left: 0px;
    position: absolute;
    background-repeat: no-repeat;
}

.History_pannel ul:before {
    content: "";
    width: 1px;
    height: 100%;
    background: #e6e6e6;
    top: 32px;
    right: auto;
    bottom: auto;
    left: 48px;
    position: absolute;
}

@media only screen and (max-width: 1199px) {
    .History_pannel ul:before {
        top: 32px;
        right: auto;
        bottom: auto;
        left: 20px;
        position: absolute;
    }
}

.History_pannel ul li.active {
    position: relative;
    background: #dbdbdb;
    background: -moz-linear-gradient(top, #cca300 0%, #e6b800 100%);
    background: -webkit-linear-gradient(top, #cca300 0%, #e6b800 100%);
    background: linear-gradient(to bottom, #cca300 0%, #e6b800 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#cca300', endColorstr='#e6b800', GradientType=0);
}

.History_pannel ul li.active:before {
    content: "";
    top: 21px;
    right: auto;
    bottom: auto;
    left: -6px;
    position: absolute;
    width: 12px;
    height: 12px;
    background: url(../images/active-arrow.png);
    background-repeat: no-repeat;
}

.History_pannel ul li.active:after {
    content: "";
    height: 11px;
    width: 11px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    border: 1px solid #e6e6e6;
    top: 22px;
    right: auto;
    bottom: auto;
    left: -22px;
    position: absolute;
    background: #c0c0c0;
}

.History_pannel ul li.active .histroy_detail .banks {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    margin-bottom: 0;
}

.History_pannel ul li.active .histroy_detail .top_section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
}

@media only screen and (max-width: 1199px) {
    .History_pannel ul li.active .histroy_detail .top_section {
        -webkit-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}

.History_pannel ul li.active .histroy_detail .top_section p {
    color: #d3ecff;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
}

.History_pannel ul li.active .histroy_detail .top_section p span {
    font-size: 12px;
}

.History_pannel ul li.active .histroy_detail .top_section p .time {
    padding-left: 10px;
}

.History_pannel ul li.active .histroy_detail .top_section .explorer {
    border: 2px solid #fff;
    border-radius: 2px;
    padding: 4px 9px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    line-height: 16px;
    margin-top: -6px;
    text-align: center;
    max-height: 44px;
}

@media only screen and (max-width: 1199px) {
    .History_pannel ul li.active .histroy_detail .top_section .explorer {
        max-width: 130px;
        margin-bottom: 10px;
    }
}

.History_pannel ul li.active .histroy_detail .top_section .explorer:hover {
    cursor: pointer;
}

.History_pannel ul li.active .histroy_detail .status .status_point {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.status {
    position: relative;
    margin-left: 19px;
}

.status:before {
    content: "";
    width: 34px;
    height: 34px;
    top: -5px;
    right: auto;
    bottom: auto;
    left: -29px;
    position: absolute;
    background: url(../images/yellow-point.svg);
}

.status p {
    color: #332900;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
}

.status .status_point {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.status.waiting:before {
    content: "";
    width: 34px;
    height: 34px;
    top: -5px;
    right: auto;
    bottom: auto;
    left: -29px;
    position: absolute;
    background: url(../images/gray-point.svg);
}

.left-column {
    background: #cfcfcf;
}


/*# sourceMappingURL=style.css.map */
